<ion-header>
  <ion-toolbar color="primary">
    <ion-title>novaconexao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height: 100%;">
      <ion-button slot="icon-only" name="btnGPS" (click)="onGPSClick()">
          <ion-icon  name="locate"></ion-icon>
        </ion-button>
  </div>
</ion-content>


