ion-content {
    margin: auto;
}
.login, .bttn, .avatar, .box {
    text-align: center;
    padding: 10px;
}
.username{
  width: 100%;
}

 
ion-avatar {
    width: 66px;
    height: 66px;
    margin: auto;

}

.login{
    width: 100%;
    height: 100%;
}
.box{
    background-color: #383FE9;
    width: 15em;
    height: 15em;
    border-radius: 2%;
    margin-top: 10%;
    margin-left: 39%;
}


 



/*.login{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 15%;

    background: #E2E9EC;
}

.title{
    margin-top: 15%;
    font-family: Georgia;
    color: #090FA7;
}

.box_login{
    position: absolute;
    width: 264px;
    height: 295px;
    left: 48px;
    top: 173px;
    
    background: #383FE9;
    border-radius: 5px;
}

.avatar{
    position: absolute;
    width: 6%;
    height: 6%;
    left: 50%;
    top: 50%;
    
    
    background:#CDE4EE;
}*/