<ion-header no-border>
  
    <ion-toolbar color="primary">
        <ion-title>ChatMap</ion-title>
    </ion-toolbar>
   
  </ion-header>
   
  <ion-content>
   
    <div class="login">
      <div class="box">
        <div class="avatar">
            <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
        </div>
        <div class="username">
            <ion-chip color="light">
              <ion-input placeholder="usuário"></ion-input>
            </ion-chip>
        </div>
   
        <div class="password">
            <ion-chip color="light">
              <ion-input placeholder="senha" type="password"></ion-input>
            </ion-chip>
        </div>

        <div class="bttn">
            <ion-button [routerLink]="['/conexoes']" >entrar</ion-button>
        </div>

      </div>
    </div>
   
  </ion-content>
   
      
<!--<ion-content login>
      <ion-title class="title">ChatMap</ion-title>
      <ion-list class="box_login">
        
              <ion-avatar name="avatar">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
            <ion-item>
              <ion-input name="user" placeholder="UserName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="pwd" placeholder="Password" type="password"></ion-input>
            </ion-item>

            <ion-button>Entrar</ion-button>
      </ion-list>
      

</ion-content>-->
