<ion-header>
  <ion-toolbar>
    <ion-title>ChatApp</ion-title>
    <link rel="stylesheet" type="text/css" href="home.page.scss">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="painel">
    <form method="POST">
      
    </form>
  </div>
</ion-content>
