<ion-app>
  <ion-menu>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>ChatApp</ion-title>
        <link rel="stylesheet" type="text/css" href="home.page.scss">
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div id="login">

      </div>

    </ion-content>
</ion-app>
