<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Conexões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add" [routerLink]="['/novaconexao']"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
